# Configuration created by Apache Sling JCR Installer
externalizer.domains=["local\ http://localhost:4502","author\ http://localhost:4502","publish\ https://www.energyharbor-itg.fenoc.corp","sitemap\ https://energyharbor-itg.fenoc.corp"]
externalizer.contextpath=""
externalizer.host=""
externalizer.encodedpath=B"false"
