<sly>
    <a href="#mainContent" class="ak-skip-link" data-swiftype-index="false">Skip to main content</a>

    <div data-sly-resource="${'ak-header-enrollment' @ resourceType='akron/components/full/ak-enrollment-header'}"></div>

    <main id="mainContent" class="enrollment-main-content" role="main">
        <div data-sly-resource="${'ak-par' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </main>

    <div data-sly-resource="${'ak-footer' @ resourceType='akron/components/full/ak-footer', wcmmode='disabled'}"></div>

</sly>
