<sly
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-unwrap>
    <ak-offer
        data-sly-test.valid="${properties.title}"
        data-sly-use.component="ak-offer.js"
        data-sly-use.parser="com.energyharbor.akron.core.services.DialogDataParser"
        aem-data="${parser.data}"
        edc-name="${component.edcName}"
        edc-logo="${component.edcLogo}"
        is-bundle="${component.isBundle}">
    </ak-offer>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !valid}"></sly>
</sly>
